@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP|Noto+Serif+JP|Roboto+Mono|Roboto+Slab&display=swap&subset=japanese);


.book.font-family-1 {
  font-family: "Noto Sans JP", "BIZ UDPゴシック", sans-serif;
}

.book.font-family-0 {
  font-family: "Noto Serif JP", "BIZ UDP明朝", serif;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5 {
  font-family: "Noto Sans JP", "BIZ UDPゴシック", sans-serif;
  font-weight: bold;
  color: royalblue;
}

.markdown-section h1 {
  border-bottom: 1px solid #000;
}

.markdown-section h2 {
  border-bottom: 1px dotted #888;
}

.markdown-section pre,
.markdown-section code {
  font-family: "Roboto Mono", Consolas, "Courier New", courier, monospace;
  font-size: 16px;
  color: green;
}
